.animate-hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.7s ease-out;
}

.animate-show {
  opacity: 1;
  transform: translateY(0);
}

#gallery-image {
  transition: opacity 0.25s ease;
}
